resources:

- repo: self

queue:

  name: Hosted VS2017

  demands: 

  - msbuild

  - visualstudio

  - vstest



steps:

- task: NuGetCommand@2

  displayName: 'NuGet restore'





- task: VSBuild@1

  displayName: 'Build solution **\*.sln'

  inputs:

    platform: Any CPU



    configuration: Release




- script: |
   SqlLocalDB.exe create "MSSQLLocalDB" -s

  failOnStderr: true



  displayName: 'Create Test Database'





- task: VSTest@2

  displayName: 'VsTest - testAssemblies'





- task: CopyFiles@2

  displayName: 'Copy Files to: $(build.artifactstagingdirectory)/lib/net40'

  inputs:

    SourceFolder: 'src/DatabaseTester_net40/bin/Release'



    Contents: 'VulcanAnalytics.DBTester.dll'



    TargetFolder: '$(build.artifactstagingdirectory)/lib/net40/'





- task: CopyFiles@2

  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'

  inputs:

    Contents: '**\*.nuspec'



    TargetFolder: '$(build.artifactstagingdirectory)'





- task: NuGetCommand@2

  displayName: 'NuGet pack'

  inputs:

    command: pack



    packagesToPack: '$(build.artifactstagingdirectory)\*.nuspec'





- task: PublishBuildArtifacts@1

  displayName: 'Publish Artifact: DBTester Package'

  inputs:

    ArtifactName: 'DBTester Package'






